@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000000f8;
  color: #f6f6f6;
  height: 100vh;
  box-sizing: border-box;
}
.titulo_destaque {
  color: #2622fd;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10% 15%;
}
.container__content {
  width: 615px;
  display: flex;
  flex-direction:column;
  gap: 40px;
}
.container__content__title {
  font-size: 36px;
  font-family: "Krona One", sans-serif;
}
.container__content__text {
  font-family: "Montserrat", sans-serif;
}
.container__links{
  display: flex;
  gap: 20px;
}
.container__links__link{
  background-color: #225cfd;
  width: 280px;
  text-align: center;
  border-radius: 16px;
  font-size: 24px;
  padding: 21.5px 0;
  text-decoration: none;
  color: #000000;
  font-family: "Montserrat" , sans-serif;
  font-weight: 600;
}